= render 'devise/shared/side_bar'
.main
  .header
    .header__left-box
      %h2.header__left-box__current-group{"data-group_id" => "3016"}
        test
      %ul.header__left-box__member-list
        menber：
        %li.header__left-box__member-list__member
          kyana
    %a
    =link_to "/groups/3016/edit" do
      .header__edit-btn Edit
  .messages
    = render partial: 'message', collection: @messages
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'